<!-- <h1>this is app components</h1>

<div *ngFor="let obj of names">
    <h1>{{obj.name}}</h1>
    <h3>{{obj.amount}}</h3>
    <h2>
        {{c}}
    </h2>
</div> -->

<div class="container">
    <form [formGroup]="userForm">
    
<div class="display-1 text-center" >
    This is Form
</div>
        <div class="row offset-3">
            <div class="form-group">
            <label for="name">
                Name

            </label>
            <input type="text" name="name" id=""  placeholder="Your Name.." class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label for="name">
                Amount
                
            </label>
            <input type="text" name="amount" id=""  placeholder="Your gift price.." class="form-control" formControlName="amount">
        </div>
    </div>
    <div class="row offset-3 ">
        <div class="col-4 text-center" >

            <input type="submit" value="submit-it" class="btn btn-primary">
        </div>
    </div>
</form>
<div *ngFor="let im of names">
    <h1>
        {{im.name}}
    </h1>
    <h1>
        {{im.amount}}
    </h1>

</div>
</div>